
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');



.title{
    font-family:'Permanent Marker', cursive;
    font-size: 90px;
}

body {
    text-align: center;
    background-image: url(./fundo-de-rosca-sem-descontinuidades-do-tema-jogos-com-tela-azul-rabisco-padrão-videogame-vetorial-textura-perfeita-para-235629198.jpg);
}

.quadrado {
    text-align: center;
    width: 50px;
    background: #eee;
    display: inline-block;
    padding: 40px;
    font-size: 60px;
    margin: 5px;
    cursor: pointer;
    color: #eee;
    border-radius: 8%;
}

.jogador, .vencedor {
    font-size: 30px;
    margin-top: 10px;
    font-family:'Permanent Marker', cursive;
}

button {
    margin-top: 10px;
    width: 10%;
    height: 30px;
    background: #eee;
    cursor: pointer;
}